.con{
	height: 320px;
	width: 100%;
	background-color: whitesmoke;
	border-radius: 6px;
	padding: 10px;
}
.im{
	width: 40%;
	height: 300px;
	border-radius: 5px;
	float: left;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  float: right;
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}
.pa{
	padding: 100px;
	float: left;
}